<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Text-Analyzer</title>
  </head>
  <body class="bg-primary">
    <nav class="navbar navbar-expand-lg navbar-light bg-success">
      <a class="navbar-brand" href="#">Text Analyzer</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
          </li>
        </ul>
            
        <div class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </div>
      </div>
    </nav>
    <div class="alert alert-primary alert-dismissible fade show" role="alert">
      <strong>Hello Guys!</strong> Enter any text to utilize .....
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    
    <h1 class="text-center mt-5 text-success">Enter your text to analize</h1>

    <div class="container">
      <form action="analyze" method="post"> {% csrf_token %}
      <textarea name="text" id="" rows="9" class="form-control mt-4 bg-warning"></textarea><br>
      <div class="row">
        <div class="col">
          <input type="checkbox" name="removePunc"> Remove Punctuation <br>
        </div>
        <div class="col">
          <input type="checkbox" name="fullCaps"> Upper Case <br>
        </div>
        <div class="col">
          <input type="checkbox" name="newlineremover"> New line remover <br>
        </div>
        <div class="col">
          <input type="checkbox" name="extraspaceremover" class="ml"> Extra space remover <br>
        </div>
        <div class="col">
          <input type="checkbox" name="charcount" class="ml-5"> Char Counter <br>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-success mt-5 text-center"> Analyze text </button>
      </div>
      </form>
      <!-- <form action="analyze" method="GET">
        <textarea name="text" class="form-control mt-4" id="exampleFormControlTextarea1" rows="9"></textarea>
          <div class="row">
            <div class="col">
              <input type="checkbox" name="removePunc"> Remove Punctuation <br>
            </div>
            <div class="col">
              <input type="checkbox" name="fullCaps"> Upper Case <br>
            </div>
            <div class="col">
              <input type="checkbox" name="newlineremover"> New line remover <br>
            </div>
            <div class="col">
              <input type="checkbox" name="extraspaceremover" class="ml"> Extra space remover <br>
            </div>
            <div class="col">
              <input type="checkbox" name="charcount" class="ml-5"> Char Counter <br>
            </div>
          </div>
        <button type="submit" class="btn btn-primary mt-5" data-toggle="button" aria-pressed="false" autocomplete="off">
          Analyze text
        </button>
        
      </form> -->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>